body{ background-color: aliceblue}
h1{color: white}
h1{text-decoration-color: teal}
h2{color: rgb(4, 77, 77)}
h1{background-color: darkcyan }
h1{text-align: left}
h3{color: darkcyan}
h3{text-align: left}
p{text-align: left}
ul{color: black}
ul{column-rule-color: darkcyan}
ol{text-align: left}
h4{color: darkcyan}
h5{text-align: left}
h5{color: darkcyan}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 200px; /* Full width */
    text-align-last: left;  /*  make text stay on left*/
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 12px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]: { background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

input:not([type=submit]):invalid { background-color: aquamarine}

input:not([type=submit]):valid {background-color: ghostwhite}